In [1]:
import sklearn
from sklearn import datasets
import pandas as pd
import numpy as np

In [2]:
data = datasets.fetch_olivetti_faces()
print(data.keys())
print(data['DESCR'])

dict_keys(['data', 'images', 'target', 'DESCR'])
.. _olivetti_faces_dataset:

The Olivetti faces dataset
--------------------------

`This dataset contains a set of face images`_ taken between April 1992 and
April 1994 at AT&T Laboratories Cambridge. The
:func:`sklearn.datasets.fetch_olivetti_faces` function is the data
fetching / caching function that downloads the data
archive from AT&T.

.. _This dataset contains a set of face images: http://www.cl.cam.ac.uk/research/dtg/attarchive/facedatabase.html

As described on the original website:

    There are ten different images of each of 40 distinct subjects. For some
    subjects, the images were taken at different times, varying the lighting,
    facial expressions (open / closed eyes, smiling / not smiling) and facial
    details (glasses / no glasses). All the images were taken against a dark
    homogeneous background with the subjects in an upright, frontal position
    (with tolerance for some side movement).

**Data Set Characteristics:**

    =================   =====================
    Classes                                40
    Samples total                         400
    Dimensionality                       4096
    Features            real, between 0 and 1
    =================   =====================

The image is quantized to 256 grey levels and stored as unsigned 8-bit
integers; the loader will convert these to floating point values on the
interval [0, 1], which are easier to work with for many algorithms.

The "target" for this database is an integer from 0 to 39 indicating the
identity of the person pictured; however, with only 10 examples per class, this
relatively small dataset is more interesting from an unsupervised or
semi-supervised perspective.

The original dataset consisted of 92 x 112, while the version available here
consists of 64x64 images.

When using these images, please give credit to AT&T Laboratories Cambridge.

In [3]:
camdata = pd.DataFrame(data["data"])
camdata.head()

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.309917,0.367769,0.417355,0.442149,0.528926,0.607438,0.657025,0.677686,0.690083,0.685950,...,0.665289,0.669421,0.652893,0.661157,0.475207,0.132231,0.148760,0.152893,0.161157,0.157025
1,0.454545,0.471074,0.512397,0.557851,0.595041,0.640496,0.681818,0.702479,0.710744,0.702479,...,0.136364,0.157025,0.136364,0.148760,0.152893,0.152893,0.152893,0.152893,0.152893,0.152893
2,0.318182,0.400826,0.491736,0.528926,0.586777,0.657025,0.681818,0.685950,0.702479,0.698347,...,0.074380,0.132231,0.181818,0.136364,0.128099,0.148760,0.144628,0.140496,0.148760,0.152893
3,0.198347,0.194215,0.194215,0.194215,0.190083,0.190083,0.243802,0.404959,0.483471,0.516529,...,0.652893,0.636364,0.657025,0.685950,0.727273,0.743802,0.764463,0.752066,0.752066,0.739669
4,0.500000,0.545455,0.582645,0.623967,0.648760,0.690083,0.694215,0.714876,0.723140,0.731405,...,0.190083,0.161157,0.177686,0.173554,0.177686,0.177686,0.177686,0.177686,0.173554,0.173554

In [4]:
camdata["y"] = data["target"]
camdata

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,y
0,0.309917,0.367769,0.417355,0.442149,0.528926,0.607438,0.657025,0.677686,0.690083,0.685950,...,0.669421,0.652893,0.661157,0.475207,0.132231,0.148760,0.152893,0.161157,0.157025,0
1,0.454545,0.471074,0.512397,0.557851,0.595041,0.640496,0.681818,0.702479,0.710744,0.702479,...,0.157025,0.136364,0.148760,0.152893,0.152893,0.152893,0.152893,0.152893,0.152893,0
2,0.318182,0.400826,0.491736,0.528926,0.586777,0.657025,0.681818,0.685950,0.702479,0.698347,...,0.132231,0.181818,0.136364,0.128099,0.148760,0.144628,0.140496,0.148760,0.152893,0
3,0.198347,0.194215,0.194215,0.194215,0.190083,0.190083,0.243802,0.404959,0.483471,0.516529,...,0.636364,0.657025,0.685950,0.727273,0.743802,0.764463,0.752066,0.752066,0.739669,0
4,0.500000,0.545455,0.582645,0.623967,0.648760,0.690083,0.694215,0.714876,0.723140,0.731405,...,0.161157,0.177686,0.173554,0.177686,0.177686,0.177686,0.177686,0.173554,0.173554,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0.400826,0.495868,0.570248,0.632231,0.648760,0.640496,0.661157,0.636364,0.665289,0.698347,...,0.396694,0.264463,0.099174,0.181818,0.243802,0.247934,0.161157,0.157025,0.136364,39
396,0.367769,0.367769,0.351240,0.301653,0.247934,0.247934,0.367769,0.512397,0.574380,0.628099,...,0.334711,0.289256,0.285124,0.338843,0.404959,0.458678,0.487603,0.512397,0.549587,39
397,0.500000,0.533058,0.607438,0.628099,0.657025,0.632231,0.657025,0.669421,0.673554,0.702479,...,0.148760,0.152893,0.161157,0.161157,0.173554,0.157025,0.177686,0.148760,0.190083,39
398,0.214876,0.219008,0.219008,0.223140,0.210744,0.202479,0.276859,0.400826,0.487603,0.549587,...,0.392562,0.367769,0.409091,0.479339,0.524793,0.545455,0.574380,0.590909,0.603306,39
399,0.516529,0.462810,0.280992,0.252066,0.247934,0.367769,0.574380,0.615702,0.661157,0.615702,...,0.264463,0.293388,0.301653,0.293388,0.322314,0.322314,0.359504,0.355372,0.384298,39

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
train, test = train_test_split(camdata, test_size=0.1)

In [7]:
from sklearn import linear_model
model = linear_model.LogisticRegression()

In [8]:
cols = np.arange(0, 4096)
X = train[cols].values
y = train.y.values

X_test = test[cols].values
y_test = test.y.values

In [9]:
model.fit(X,y)

D:\Python_2021\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Python_2021\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
model.score(X_test,y_test)

0.975

In [11]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

model.fit(X,y)
model.score(X_test, y_test)

0.525

In [12]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=10, max_depth=None, min_samples_split=2, random_state=0)

model.fit(X,y)
model.score(X_test,y_test)

0.9

- What are the features?

The features are the real values between 0 and 1 and amounts to total 4096 points.

- What was it your classifier was trying to classify? (Hint: You'll need to read the description of the data--this constitutes the classification "task"; i.e., the mapping from features in X to the classification labels in y)?

The dataset is trying to classify the feature points to construct a picture.

- What is the baseline for this dataset? (Hint: what is the most common type that could be classified?)

10% (uniform: generates predictions uniformly at random.)

- How well did your three classifiers do above the baseline.
 
The logicstic regression showed the best performance and the Random Forest also performed extremely well. However, the Decision tree classifier produced relatively low accuracy.

- Read a little bit about each classifier. Why do you think one classifier did better than another classifier?

Among the three classifiers, Logistic regression outperformed all. This classifier works well with large number of samples. Ob the other hand, Decision tree performed poorly. Decision tree works on based on layer spiltting method. At each layer, we attempt to divide data into two or more groups so that all observations in the same group are most similar to one another (homogeneity) and the groups are notably dissimilar from one another (heterogeneity). Decision tree has certain drawbacks and I belive the above model experienced this. They very easily overfit. As the depth of the tree rises, so does overfitting. Decision tree is also inherently unstable. slightl change in sub-sample causes the structure of the tree to alter significantly.

By using Random forest, the score can be improved as it can fix this issue by ensembling. As tree depth grows, random forests outperform single decision trees in resisting overfitting. They also tend to be less unstable than decision tree.

Link Prediction (IMDb Movie Reviews)

In [15]:
dt = pd.read_csv('IMDB Dataset.csv')

What are the input features?

- Review text.

What are the class labels?

- positive sentiment or negative sentiment.

How is the data represented?

- The dataset has 50000 rows 2 columns where the review columns holds the review text and sentiment column says the corresponding sentiment that is expressed throught the review text.

Do you think any of the three classification approaches you used for the Olivettie Faces above would work for this task?

- I think Logistic regression would work.

Text Generation(CNN/Daily Mail)

In [ ]:
dt = pd.read_csv('train.csv')

What are the input features?

- Article and highlights.

What are the class labels?

- Abstractive summarization(responding to the fill-in-the-blank question).

How is the data represented?

- For each occurrence, there is a string for the article, a string for the highlights, and a string for the id.

Do you think any of the three classification approaches you used for the Olivettie Faces above would work for this task?

- Although I believe that the classification methods I adopted for Olivettie Faces are not that suitable in this connection, I would go with Random Forest if I am to use any of them.