In [1]:
import pandas as pd

# NOAA Climate Datasets

In [2]:
data = pd.read_csv('01001599999.csv')

data

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,...,MXSPD,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT
0,1001599999,1995-01-01,61.383,5.867,327.0,"BRINGELAND, NO",26.4,10,18.3,10,...,15.0,999.9,28.4,*,23.0,*,0.00,I,999.9,0
1,1001599999,1995-01-02,61.383,5.867,327.0,"BRINGELAND, NO",21.6,16,8.0,16,...,12.0,22.0,26.6,*,15.8,*,0.00,I,999.9,0
2,1001599999,1995-01-03,61.383,5.867,327.0,"BRINGELAND, NO",25.1,14,13.4,14,...,7.0,999.9,26.6,*,23.0,*,0.00,I,999.9,0
3,1001599999,1995-01-04,61.383,5.867,327.0,"BRINGELAND, NO",32.4,12,22.9,12,...,15.9,32.1,33.8,*,30.2,*,99.99,,999.9,11000
4,1001599999,1995-01-05,61.383,5.867,327.0,"BRINGELAND, NO",33.7,15,20.4,15,...,21.0,32.1,35.6,*,28.4,*,99.99,,999.9,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,1001599999,1995-12-26,61.383,5.867,327.0,"BRINGELAND, NO",9.7,5,4.3,5,...,5.1,999.9,12.2,*,6.8,*,99.99,,999.9,1000
358,1001599999,1995-12-27,61.383,5.867,327.0,"BRINGELAND, NO",14.6,6,13.1,6,...,2.9,999.9,19.4,*,10.4,*,0.00,I,999.9,0
359,1001599999,1995-12-28,61.383,5.867,327.0,"BRINGELAND, NO",14.4,10,11.7,10,...,5.1,999.9,19.4,*,8.6,*,99.99,,999.9,1000
360,1001599999,1995-12-29,61.383,5.867,327.0,"BRINGELAND, NO",25.1,11,22.8,11,...,7.0,999.9,28.4,*,23.0,*,99.99,,999.9,1000
361,1001599999,1995-12-30,61.383,5.867,327.0,"BRINGELAND, NO",28.8,8,28.8,8,...,13.0,999.9,30.2,*,26.6,*,99.99,,999.9,101000

1. How would you describe the data?

- This a dataset in csv format for the use of National Centers for environmental research.

2. What is the data for?

- For analysing to Global Surface Summary of the Day that taken into account a place called BRINGELAND.

3. How was the data collected?

- The data was collected by observing the same station over the year of 1995.


4. What format is the data in?

- csv.

5. Is the data up-to-date/recent?

- No.

6. Is the data easily accessible?

- Yes.

7. What restrictions are there on using the data?

- No restrictions.

8. Can you think of something you could learn from analyzing this data?

- Surface temparature changes throughout the year.

9. Can you think of some issues or challenges you might have if you analyzed this data? For instance, is the data too old? Is data missing?

- The data is based on 1995, and thefore, not up-to-date. On top of that, it has only taken into account a single station. Therefore, it is hard to jump into any conclusion.

# CDC Data

In [3]:
df = pd.read_csv('COVID-19_Booster_Dose_Eligibility_in_the_United_States.csv')
df.head()

,Date,Category,Location,Booster_Eligible,Booster_Eligible_NotBoosted,Booster_Eligible_Boosted_Pct,Booster_Eligible_NotBoosted_Pct,Booster_Eligible_US_Pct,Booster_Eligible_12Plus,Booster_Eligible_NotBoosted_12Plus,...,Booster_Eligible_50Plus,Booster_Eligible_NotBoosted_50Plus,Booster_Eligible_Boosted_50Plus_Pct,Booster_Eligible_NotBoosted_50Plus_Pct,Booster_Eligible_US_50Plus_Pct,Booster_Eligible_65Plus,Booster_Eligible_NotBoosted_65Plus,Booster_Eligible_Boosted_65Plus_Pct,Booster_Eligible_NotBoosted_65Plus_Pct,Booster_Eligible_US_65Plus_Pct
0,02/16/2022 12:00:00 AM,Race_eth_Hispanic,US,21848243,13301339,39.1,60.9,12.8,21848243.0,13301339.0,...,7535356,3484755,53.8,46.2,8.7,2861510,1121989,60.8,39.2,6.6
1,02/16/2022 12:00:00 AM,Race_eth_NHWhite,US,78731931,35789346,54.5,45.5,46.0,78731931.0,35789346.0,...,44600053,16310941,63.4,36.6,51.5,24101709,7654359,68.2,31.8,55.9
2,02/16/2022 12:00:00 AM,Race_eth_known,US,129811279,63764713,50.9,49.1,75.9,129811279.0,63764713.0,...,65175954,24929984,61.7,38.3,75.3,32724834,10721023,67.2,32.8,75.9
3,02/16/2022 12:00:00 AM,Race_eth_unknown,US,41279304,21701995,47.4,52.6,24.1,41279304.0,21701995.0,...,21372404,9205191,56.9,43.1,24.7,10376161,3907338,62.3,37.7,24.1
4,02/16/2022 12:00:00 AM,Race_eth_NHMult_Oth,US,6163387,3039240,50.7,49.3,3.6,6163387.0,3039240.0,...,2816263,1066278,62.1,37.9,3.3,1434439,477961,66.7,33.3,3.3

In [12]:
df.describe

<bound method NDFrame.describe of                       Date             Category Location  Booster_Eligible  \
0   02/16/2022 12:00:00 AM    Race_eth_Hispanic       US          21848243
1   02/16/2022 12:00:00 AM     Race_eth_NHWhite       US          78731931
2   02/16/2022 12:00:00 AM       Race_eth_known       US         129811279
3   02/16/2022 12:00:00 AM     Race_eth_unknown       US          41279304
4   02/16/2022 12:00:00 AM  Race_eth_NHMult_Oth       US           6163387
5   02/16/2022 12:00:00 AM      Race_eth_NHAIAN       US           1152245
6   02/16/2022 12:00:00 AM     Race_eth_NHNHOPI       US            420167
7   02/16/2022 12:00:00 AM     Race_eth_NHBlack       US          12428307
8   02/16/2022 12:00:00 AM     Total_Population       US         171090583
9   02/16/2022 12:00:00 AM     Race_eth_NHAsian       US           9066999
10  02/09/2022 12:00:00 AM     Total_Population       US         168848643
11  02/09/2022 12:00:00 AM       Race_eth_known       US         128050468
12  02/09/2022 12:00:00 AM     Race_eth_NHBlack       US          12163047
13  02/09/2022 12:00:00 AM     Race_eth_NHNHOPI       US            412180
14  02/09/2022 12:00:00 AM     Race_eth_NHWhite       US          77875212
15  02/09/2022 12:00:00 AM  Race_eth_NHMult_Oth       US           6063654
16  02/09/2022 12:00:00 AM      Race_eth_NHAIAN       US           1134143
17  02/09/2022 12:00:00 AM     Race_eth_unknown       US          40798175
18  02/09/2022 12:00:00 AM    Race_eth_Hispanic       US          21397183
19  02/09/2022 12:00:00 AM     Race_eth_NHAsian       US           9005049
20  02/02/2022 12:00:00 AM     Race_eth_NHWhite       US          77033548
21  02/02/2022 12:00:00 AM    Race_eth_Hispanic       US          20950197
22  02/02/2022 12:00:00 AM     Race_eth_NHAsian       US           8937412
23  02/02/2022 12:00:00 AM     Total_Population       US         166711367
24  02/02/2022 12:00:00 AM     Race_eth_NHBlack       US          11911532
25  02/02/2022 12:00:00 AM       Race_eth_known       US         126317518
26  02/02/2022 12:00:00 AM      Race_eth_NHAIAN       US           1110720
27  02/02/2022 12:00:00 AM     Race_eth_NHNHOPI       US            403743
28  02/02/2022 12:00:00 AM  Race_eth_NHMult_Oth       US           5970366
29  02/02/2022 12:00:00 AM     Race_eth_unknown       US          40393849
30  01/26/2022 12:00:00 AM     Race_eth_NHNHOPI       US            394464
31  01/26/2022 12:00:00 AM       Race_eth_known       US         124177382
32  01/26/2022 12:00:00 AM  Race_eth_NHMult_Oth       US           5847664
33  01/26/2022 12:00:00 AM     Race_eth_NHAsian       US           8825098
34  01/26/2022 12:00:00 AM    Race_eth_Hispanic       US          20342154
35  01/26/2022 12:00:00 AM      Race_eth_NHAIAN       US           1091808
36  01/26/2022 12:00:00 AM     Race_eth_NHWhite       US          76064718
37  01/26/2022 12:00:00 AM     Total_Population       US         164179448
38  01/26/2022 12:00:00 AM     Race_eth_NHBlack       US          11611476
39  01/26/2022 12:00:00 AM     Race_eth_unknown       US          40002066
40  01/19/2022 12:00:00 AM    Race_eth_Hispanic       US          19848550
41  01/19/2022 12:00:00 AM     Race_eth_NHAsian       US           8734490
42  01/19/2022 12:00:00 AM     Race_eth_NHWhite       US          75078607
43  01/19/2022 12:00:00 AM  Race_eth_NHMult_Oth       US           5658801
44  01/19/2022 12:00:00 AM     Total_Population       US         161801164
45  01/19/2022 12:00:00 AM       Race_eth_known       US         122071746
46  01/19/2022 12:00:00 AM     Race_eth_unknown       US          39729418
47  01/19/2022 12:00:00 AM     Race_eth_NHNHOPI       US            389884
48  01/19/2022 12:00:00 AM      Race_eth_NHAIAN       US           1073424
49  01/19/2022 12:00:00 AM     Race_eth_NHBlack       US          11287990

    Booster_Eligible_NotBoosted  Booster_Eligible_Boosted_Pct  \
0                      13301339                          39.1
1                      35789346                          54.5
2                      63764713                          50.9
3                      21701995                          47.4
4                       3039240                          50.7
5                        634393                          44.9
6                        229894                          45.3
7                       7001483                          43.7
8                      85466708                          50.0
9                       3769018                          58.4
10                     84755218                          49.8
11                     63214100                          50.6
12                      6886325                          43.4
13                       227438                          44.8
14                     35497762                          54.4
15                      3004048                          50.5
16                       628391                          44.6
17                     21541118                          47.2
18                     13159745                          38.5
19                      3810391                          57.7
20                     35363853                          54.1
21                     13096397                          37.5
22                      3862283                          56.8
23                     84416108                          49.4
24                      6789236                          43.0
25                     62944870                          50.2
26                       623495                          43.9
27                       226492                          43.9
28                      2983114                          50.0
29                     21471238                          46.8
30                       228891                          42.0
31                     63175407                          49.1
32                      3002376                          48.7
33                      4004866                          54.6
34                     13112983                          35.5
35                       625487                          42.7
36                     35496576                          53.3
37                     85114138                          48.2
38                      6704228                          42.3
39                     21938731                          45.2
40                     13188600                          33.6
41                      4167496                          52.3
42                     35936818                          52.1
43                      2996408                          47.0
44                     86039963                          46.8
45                     63797607                          47.7
46                     22242356                          44.0
47                       233032                          40.2
48                       629540                          41.4
49                      6645713                          41.1

    Booster_Eligible_NotBoosted_Pct  Booster_Eligible_US_Pct  \
0                              60.9                     12.8
1                              45.5                     46.0
2                              49.1                     75.9
3                              52.6                     24.1
4                              49.3                      3.6
5                              55.1                      0.7
6                              54.7                      0.2
7                              56.3                      7.3
8                              50.0                    100.0
9                              41.6                      5.3
10                             50.2                    100.0
11                             49.4                     75.8
12                             56.6                      7.2
13                             55.2                      0.2
14                             45.6                     46.1
15                             49.5                      3.6
16                             55.4                      0.7
17                             52.8                     24.2
18                             61.5                     12.7
19                             42.3                      5.3
20                             45.9                     46.2
21                             62.5                     12.6
22                             43.2                      5.4
23                             50.6                    100.0
24                             57.0                      7.1
25                             49.8                     75.8
26                             56.1                      0.7
27                             56.1                      0.2
28                             50.0                      3.6
29                             53.2                     24.2
30                             58.0                      0.2
31                             50.9                     75.6
32                             51.3                      3.6
33                             45.4                      5.4
34                             64.5                     12.4
35                             57.3                      0.7
36                             46.7                     46.3
37                             51.8                    100.0
38                             57.7                      7.1
39                             54.8                     24.4
40                             66.4                     12.3
41                             47.7                      5.4
42                             47.9                     46.4
43                             53.0                      3.5
44                             53.2                    100.0
45                             52.3                     75.4
46                             56.0                     24.6
47                             59.8                      0.2
48                             58.6                      0.7
49                             58.9                      7.0

    Booster_Eligible_12Plus  Booster_Eligible_NotBoosted_12Plus  ...  \
0                21848243.0                          13301339.0  ...
1                78731931.0                          35789346.0  ...
2               129811279.0                          63764713.0  ...
3                41279304.0                          21701995.0  ...
4                 6163387.0                           3039240.0  ...
5                 1152245.0                            634393.0  ...
6                  420167.0                            229894.0  ...
7                12428307.0                           7001483.0  ...
8               171090583.0                          85466708.0  ...
9                 9066999.0                           3769018.0  ...
10              168848643.0                          84755218.0  ...
11              128050468.0                          63214100.0  ...
12               12163047.0                           6886325.0  ...
13                 412180.0                            227438.0  ...
14               77875212.0                          35497762.0  ...
15                6063654.0                           3004048.0  ...
16                1134143.0                            628391.0  ...
17               40798175.0                          21541118.0  ...
18               21397183.0                          13159745.0  ...
19                9005049.0                           3810391.0  ...
20               77033548.0                          35363853.0  ...
21               20950197.0                          13096397.0  ...
22                8937412.0                           3862283.0  ...
23              166711367.0                          84416108.0  ...
24               11911532.0                           6789236.0  ...
25              126317518.0                          62944870.0  ...
26                1110720.0                            623495.0  ...
27                 403743.0                            226492.0  ...
28                5970366.0                           2983114.0  ...
29               40393849.0                          21471238.0  ...
30                      NaN                                 NaN  ...
31                      NaN                                 NaN  ...
32                      NaN                                 NaN  ...
33                      NaN                                 NaN  ...
34                      NaN                                 NaN  ...
35                      NaN                                 NaN  ...
36                      NaN                                 NaN  ...
37                      NaN                                 NaN  ...
38                      NaN                                 NaN  ...
39                      NaN                                 NaN  ...
40                      NaN                                 NaN  ...
41                      NaN                                 NaN  ...
42                      NaN                                 NaN  ...
43                      NaN                                 NaN  ...
44                      NaN                                 NaN  ...
45                      NaN                                 NaN  ...
46                      NaN                                 NaN  ...
47                      NaN                                 NaN  ...
48                      NaN                                 NaN  ...
49                      NaN                                 NaN  ...

    Booster_Eligible_50Plus  Booster_Eligible_NotBoosted_50Plus  \
0                   7535356                             3484755
1                  44600053                            16310941
2                  65175954                            24929984
3                  21372404                             9205191
4                   2816263                             1066278
5                    498310                              214534
6                    159191                               65820
7                   6321023                             2745689
8                  86548358                            34135175
9                   3245758                             1041967
10                 85962840                            34161917
11                 64734680                            24958846
12                  6257015                             2752082
13                   157756                               66238
14                 44336213                            16297938
15                  2793700                             1066611
16                   494540                              214917
17                 21228160                             9203071
18                  7462310                             3505036
19                  3233146                             1056024
20                 44056608                            16338699
21                  7388634                             3547967
22                  3218320                             1071673
23                 85385707                            34301896
24                  6193591                             2761469
25                 64275445                            25072974
26                   488752                              215846
27                   156237                               67143
28                  2773303                             1070177
29                 21110262                             9228922
30                   154369                               69320
31                 63673101                            25441771
32                  2741391                             1092767
33                  3183356                             1114878
34                  7271104                             3635256
35                   484657                              219163
36                 43723433                            16524562
37                 84693710                            35020863
38                  6114791                             2785825
39                 21020609                             9579092
40                  7183818                             3727658
41                  3161904                             1157149
42                 43365334                            16792981
43                  2654922                             1087950
44                 84016250                            35647410
45                 63019296                            25877773
46                 20996954                             9769637
47                   153741                               71559
48                   480336                              222320
49                  6019241                             2818156

    Booster_Eligible_Boosted_50Plus_Pct  \
0                                  53.8
1                                  63.4
2                                  61.7
3                                  56.9
4                                  62.1
5                                  56.9
6                                  58.7
7                                  56.6
8                                  60.6
9                                  67.9
10                                 60.3
11                                 61.4
12                                 56.0
13                                 58.0
14                                 63.2
15                                 61.8
16                                 56.5
17                                 56.6
18                                 53.0
19                                 67.3
20                                 62.9
21                                 52.0
22                                 66.7
23                                 59.8
24                                 55.4
25                                 61.0
26                                 55.8
27                                 57.0
28                                 61.4
29                                 56.3
30                                 55.1
31                                 60.0
32                                 60.1
33                                 65.0
34                                 50.0
35                                 54.8
36                                 62.2
37                                 58.6
38                                 54.4
39                                 54.4
40                                 48.1
41                                 63.4
42                                 61.3
43                                 59.0
44                                 57.6
45                                 58.9
46                                 53.5
47                                 53.5
48                                 53.7
49                                 53.2

    Booster_Eligible_NotBoosted_50Plus_Pct  Booster_Eligible_US_50Plus_Pct  \
0                                     46.2                             8.7
1                                     36.6                            51.5
2                                     38.3                            75.3
3                                     43.1                            24.7
4                                     37.9                             3.3
5                                     43.1                             0.6
6                                     41.3                             0.2
7                                     43.4                             7.3
8                                     39.4                           100.0
9                                     32.1                             3.8
10                                    39.7                           100.0
11                                    38.6                            75.3

1. How would you describe the data?

- This dataset has 50 rows and 18 columns that illustrates COvid-19 Booster Dose ability in the United States.

2. What is the data for?

- This site provides historical data related to COVID-19 booster dose eligibility presented on two CDC COVID Data Tracker sites: Vaccinations in the US and Vaccination Equity.  Data are updated weekly on Wednesdays.

3. How was the data collected?

- CDC counts people as having “received a booster dose” if they are fully vaccinated and received another dose of any COVID-19 vaccine on or after August 13, 2021. This does not distinguish whether the recipient is immunocompromised and received an additional dose.


4. What format is the data in?

- csv.

5. Is the data up-to-date/recent?

- Yes, very updated.

6. Is the data easily accessible?

- Yes.

7. What restrictions are there on using the data?

- No restrictions. It's publicly available for use.

8. Can you think of something you could learn from analyzing this data?

- 
9. Can you think of some issues or challenges you might have if you analyzed this data? For instance, is the data too old? Is data missing?

- The booster eligibility metric excludes fully vaccinated recipients who have an “Other” primary series vaccine type.  
Booster eligibility counts and percentages exclude vaccine administrations reported by Texas as the primary series cannot be linked to booster dose in the aggregate data submitted by Texas.

#  California Open Portal Data

In [4]:
data = pd.read_csv('homeless_impact.csv')
data

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Tehama County,2022-02-17,NaN,NaN,NaN,NaN,NaN
1,Del Norte County,2022-02-17,35.0,28.0,NaN,NaN,NaN
2,Mariposa County,2022-02-17,NaN,NaN,NaN,NaN,NaN
3,Fresno County,2022-02-17,27.0,26.0,28.0,28.0,NaN
4,Calaveras County,2022-02-17,30.0,14.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
17807,Yolo County,2022-01-19,65.0,68.0,NaN,NaN,NaN
17808,Yuba County,2022-01-19,NaN,NaN,NaN,NaN,NaN
17809,Wilton Rancheria Tribe,2022-01-19,NaN,NaN,NaN,NaN,NaN
17810,Bishop Paiute Tribal Council,2022-01-19,NaN,NaN,NaN,NaN,NaN
17811,Hoopa Valley Tribe,2022-01-19,NaN,NaN,NaN,NaN,NaN

In [5]:
data.describe()

,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
count,11837.000000,10567.000000,5822.000000,4532.000000,527.000000
mean,354.303286,259.778934,77.731364,80.757944,16.508539
std,735.664406,527.844885,136.711048,153.797207,3.971311
min,11.000000,11.000000,12.000000,12.000000,12.000000
25%,51.000000,40.000000,15.000000,15.000000,12.000000
50%,116.000000,87.000000,37.000000,28.000000,20.000000
75%,305.000000,250.000000,91.000000,79.000000,20.000000
max,4697.000000,3942.000000,658.000000,654.000000,20.000000

1. How would you describe the data?

- This dataset has 17812 rows and 7 columns that contain Covid-19 Homeless impact in US state of California.

2. What is the data for?

- This dateset is for the use of California Department of Social Services.

3. How was the data collected?

- DSS public relations collected the data since 4/14/2020 to present in a daily manner.


4. What format is the data in?

- csv.

5. Is the data up-to-date/recent?

- Yes, very updated.

6. Is the data easily accessible?

- Yes.

7. What restrictions are there on using the data?

- No restrictions. It's publicly available for use.

8. Can you think of something you could learn from analyzing this data?

- rooms	rooms_occupied	trailers_requested	trailers_delivered	donated_trailers_delivered
count	11837.000000	10567.000000	5822.000000	4532.000000	527.000000
mean	354.303286	259.778934	77.731364	80.757944	16.508539
std	   735.664406	527.844885	136.711048	153.797207	3.971311
min	   11.000000	11.000000	12.000000	12.000000	12.000000
25%	   51.000000	40.000000	15.000000	15.000000	12.000000
50%	  116.000000	87.000000	37.000000	28.000000	20.000000
75%	  305.000000	250.000000	91.000000	79.000000	20.000000
max	 4697.000000	3942.000000	658.000000	654.000000	20.000000

9. Can you think of some issues or challenges you might have if you analyzed this data? For instance, is the data too old? Is data missing?

- Data missing is the most frequent problem in this dataset.

#  US Census Data

In [6]:
data = pd.read_csv ('GOVSTIMESERIES.GS00TC01_data_with_overlays_2022-02-20T024955.csv')

data

,GEO_ID,GEO_ID_F,NAME,YEAR,SVY_COMP,SVY_COMP_LABEL,AGG_DESC,AGG_DESC_LABEL,GOVTYPE,GOVTYPE_LABEL,AMOUNT
0,id,Geo Footnote,Geographic Area Name,Year,Survey Component,Meaning of Survey Component,Aggregate Description,Meaning of Aggregate Description,Type of Government,Meaning of Type of Government,Amount
1,0100000US,NaN,United States,2016,03,Annual Survey of State Government Tax Collection,ST0T00,Total Taxes,002,State,930875000
2,0100000US,NaN,United States,2017,03,Annual Survey of State Government Tax Collection,ST0T00,Total Taxes,002,State,957498317
3,0100000US,NaN,United States,2016,03,Annual Survey of State Government Tax Collection,ST0T01,Property Taxes,002,State,18315142
4,0100000US,NaN,United States,2017,03,Annual Survey of State Government Tax Collection,ST0T01,Property Taxes,002,State,19033861
...,...,...,...,...,...,...,...,...,...,...,...
58,0100000US,NaN,United States,2017,03,Annual Survey of State Government Tax Collection,ST0TA3,License Taxes,002,State,55252421
59,0100000US,NaN,United States,2016,03,Annual Survey of State Government Tax Collection,ST0TA4,Income Taxes,002,State,390415623
60,0100000US,NaN,United States,2017,03,Annual Survey of State Government Tax Collection,ST0TA4,Income Taxes,002,State,398308089
61,0100000US,NaN,United States,2016,03,Annual Survey of State Government Tax Collection,ST0TA5,Other Taxes,002,State,25112951
62,0100000US,NaN,United States,2017,03,Annual Survey of State Government Tax Collection,ST0TA5,Other Taxes,002,State,25991403

In [8]:
data.describe()

,GEO_ID,GEO_ID_F,NAME,YEAR,SVY_COMP,SVY_COMP_LABEL,AGG_DESC,AGG_DESC_LABEL,GOVTYPE,GOVTYPE_LABEL,AMOUNT
count,63,1,63,63,63,63,63,63,63,63,63
unique,2,1,2,3,2,2,32,32,2,2,63
top,0100000US,Geo Footnote,United States,2017,03,Annual Survey of State Government Tax Collection,ST0T16,Pari-mutuels Sales Taxes,002,State,1424462
freq,62,1,62,31,62,62,2,2,62,62,1

1. How would you describe the data?

- This a dataset contains 63 rows and 11 columns to represent US tax collection detailed table that covers the United States, the 50 states, and the District of Columbia.

2. What is the data for?

- This information represents public finance and public employment data for of the nation's state and local government sector.

3. How was the data collected?

- Full-time and part-time employment, part-time hours worked, full-time equivalent employment, and payroll statistics by governmental function Taxes collected for state governments in the United States by category: Property Tax, Sales and Gross Receipts Taxes, License Taxes, Income Taxes, and Other Taxes Detail of revenue by source, expenditure by object and function, indebtedness by term, and assets by purpose, by state and by type.


4. What format is the data in?

- csv.

5. Is the data up-to-date/recent?

- No.

6. Is the data easily accessible?

- Yes.

7. What restrictions are there on using the data?

- No restrictions. It's publicly available for use.

8. Can you think of something you could learn from analyzing this data?

- The highest amount of tax was collected back in 2017.

9. Can you think of some issues or challenges you might have if you analyzed this data? For instance, is the data too old? Is data missing?
-  Thre is no major problem I found with this dataset.

# Twitter Datasets

In [12]:
data = pd.read_csv('Apple-Twitter-Sentiment-DFE.csv', encoding="ISO-8859-1")

data

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
0,623495513,True,golden,10,NaN,3,0.6264,Mon Dec 01 19:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...
1,623495514,True,golden,12,NaN,3,0.8129,Mon Dec 01 19:43:51 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2,623495515,True,golden,10,NaN,3,1.0000,Mon Dec 01 19:50:28 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...
3,623495516,True,golden,17,NaN,3,0.5848,Mon Dec 01 20:26:34 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,I agree with @jimcramer that the #IndividualIn...
4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,Mon Dec 01 20:29:33 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL
...,...,...,...,...,...,...,...,...,...,...,...,...
3881,623499442,True,golden,13,NaN,3,0.7757,Tue Dec 09 22:08:53 +0000 2014,5.420000e+17,#AAPL OR @Apple,5\n3,(Via FC) Apple Is Warming Up To Social Media -...
3882,623499450,True,golden,16,NaN,3,0.6225,Tue Dec 09 22:18:27 +0000 2014,5.420000e+17,#AAPL OR @Apple,3\n1,RT @MMLXIV: there is no avocado emoji may I as...
3883,623499486,True,golden,14,NaN,5,0.9347,Tue Dec 09 23:45:59 +0000 2014,5.420000e+17,#AAPL OR @Apple,5,@marcbulandr I could not agree more. Between @...
3884,623499514,True,golden,13,NaN,1,0.9230,Wed Dec 10 00:48:10 +0000 2014,5.420000e+17,#AAPL OR @Apple,1,My iPhone 5's photos are no longer downloading...
3885,623517290,True,golden,17,NaN,5,0.8938,Tue Dec 09 09:01:25 +0000 2014,5.420000e+17,#AAPL OR @Apple,5\n3\nnot_relevant,RT @SwiftKey: We're so excited to be named to ...

In [13]:
data.describe

<bound method NDFrame.describe of        _unit_id  _golden _unit_state  _trusted_judgments _last_judgment_at  \
0     623495513     True      golden                  10               NaN
1     623495514     True      golden                  12               NaN
2     623495515     True      golden                  10               NaN
3     623495516     True      golden                  17               NaN
4     623495517    False   finalized                   3    12/12/14 12:14
...         ...      ...         ...                 ...               ...
3881  623499442     True      golden                  13               NaN
3882  623499450     True      golden                  16               NaN
3883  623499486     True      golden                  14               NaN
3884  623499514     True      golden                  13               NaN
3885  623517290     True      golden                  17               NaN

     sentiment  sentiment:confidence                            date  \
0            3                0.6264  Mon Dec 01 19:30:03 +0000 2014
1            3                0.8129  Mon Dec 01 19:43:51 +0000 2014
2            3                1.0000  Mon Dec 01 19:50:28 +0000 2014
3            3                0.5848  Mon Dec 01 20:26:34 +0000 2014
4            3                0.6474  Mon Dec 01 20:29:33 +0000 2014
...        ...                   ...                             ...
3881         3                0.7757  Tue Dec 09 22:08:53 +0000 2014
3882         3                0.6225  Tue Dec 09 22:18:27 +0000 2014
3883         5                0.9347  Tue Dec 09 23:45:59 +0000 2014
3884         1                0.9230  Wed Dec 10 00:48:10 +0000 2014
3885         5                0.8938  Tue Dec 09 09:01:25 +0000 2014

                id            query      sentiment_gold  \
0     5.400000e+17  #AAPL OR @Apple     3\nnot_relevant
1     5.400000e+17  #AAPL OR @Apple                3\n1
2     5.400000e+17  #AAPL OR @Apple                   3
3     5.400000e+17  #AAPL OR @Apple                3\n1
4     5.400000e+17  #AAPL OR @Apple                 NaN
...            ...              ...                 ...
3881  5.420000e+17  #AAPL OR @Apple                5\n3
3882  5.420000e+17  #AAPL OR @Apple                3\n1
3883  5.420000e+17  #AAPL OR @Apple                   5
3884  5.420000e+17  #AAPL OR @Apple                   1
3885  5.420000e+17  #AAPL OR @Apple  5\n3\nnot_relevant

                                                   text
0     #AAPL:The 10 best Steve Jobs emails ever...htt...
1     RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2     My cat only chews @apple cords. Such an #Apple...
3     I agree with @jimcramer that the #IndividualIn...
4          Nobody expects the Spanish Inquisition #AAPL
...                                                 ...
3881  (Via FC) Apple Is Warming Up To Social Media -...
3882  RT @MMLXIV: there is no avocado emoji may I as...
3883  @marcbulandr I could not agree more. Between @...
3884  My iPhone 5's photos are no longer downloading...
3885  RT @SwiftKey: We're so excited to be named to ...

[3886 rows x 12 columns]>

In [14]:
data.describe()

           _unit_id  _trusted_judgments  sentiment:confidence            id
count  3.886000e+03         3886.000000           3886.000000  3.886000e+03
mean   6.234975e+08            3.687082              0.829526  5.410039e+17
std    1.171906e+03            2.004595              0.175864  7.942752e+14
min    6.234955e+08            3.000000              0.332700  5.400000e+17
25%    6.234965e+08            3.000000              0.674475  5.400000e+17
50%    6.234975e+08            3.000000              0.811250  5.410000e+17
75%    6.234984e+08            3.000000              1.000000  5.420000e+17
max    6.235173e+08           27.000000              1.000000  5.420000e+17

1. How would you describe the data?

- This a dataset in jason format to analyze twitter users' sentiment centaring apple.

2. What is the data for?

- To look into the sentiment around Apple, based on tweets containing #AAPL, @apple, etc.   Contributors were given a tweet and asked whether the user was positive, negative, or neutral about Apple. (They were also allowed to mark "the tweet is not about the company Apple, Inc.)

3. How was the data collected?

- The data was collected from the twitter.


4. What format is the data in?

- csv.

5. Is the data up-to-date/recent?

- No.

6. Is the data easily accessible?

- Yes.

7. What restrictions are there on using the data?

- No restrictions. It's publicly available for use.

8. Can you think of something you could learn from analyzing this data?

- People expressed their sentiment overwhelmingly at night. And, all the tweets are on either Monday or Tuesday.

9. Can you think of some issues or challenges you might have if you analyzed this data? For instance, is the data too old? Is data missing?

- The data is based on 2014, and thefore, not up-to-date. On top of that, there are frequent missing data in _last_judgment_at	and sentiment_gold column.